@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-img{
    border: 2px solid turquoise;
    border-radius: 50%;
    height: 40px;
    width: 40px;

}

.banner-container{
    background-image: linear-gradient(to right, rgba(51, 59, 65, 0.771), rgba(34, 32, 32, 0)),
    url('./assets/bannerImage.jpeg');
    width: 100%;
    min-height: 75vh;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    padding:3rem 0rem;
}

.special-color{
    color:rgb(204, 237, 238) !important
}

.common-banner{
    background-image: linear-gradient(to right, rgba(51, 59, 65, 0.35), rgba(34, 32, 32, 0)),
    url('./assets/commonBanner.jpg');
    width: 100%;
    min-height: 90vh;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    padding:3rem 0rem;
}

.common-box form{
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 5px;
}

.btn-style{
    font-weight: 800;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: #F0F6F8;
    box-shadow: 0 0 18px 4px rgb(231, 231, 231);
    transition: all 0.5s;
}

.tab-btn-one{
    border-radius: 15px 0px 0px 15px;
}

.tab-btn-three{
    border-radius: 0px 15px 15px 0px;
}

.active{
    background-color: #ff00c4 ;
    color:white;
}

.toy-image, .truck-image, .military-vehicle-image{
    width: 300px;
    min-width: 150px;
}

.truck .category-container:nth-child(1) img{
    height: 200px;
    object-fit: contain;
}

.toy-details-container img{
    min-width: 80px;
    width: 1000px;
    /* max-width: 600px; */
}



@media  screen and (max-width:400px) {
    .btn-style{
        font-size: 0.8rem;
    }
}