@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-img{
    border: 2px solid turquoise;
    border-radius: 50%;
    height: 40px;
    width: 40px;

}

.banner-container{
    background-image: linear-gradient(to right, rgba(51, 59, 65, 0.771), rgba(34, 32, 32, 0)),
    url('./assets/bannerImage.jpeg');
    width: 100%;
    min-height: 75vh;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    padding:3rem 0rem;
}

.special-color{
    color:rgb(204, 237, 238) !important
}

.common-banner{
    background-image: linear-gradient(to right, rgba(51, 59, 65, 0.35), rgba(34, 32, 32, 0)),
    url('./assets/commonBanner.jpg');
    width: 100%;
    min-height: 90vh;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    padding:3rem 0rem;
}

.common-box form{
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 5px;
}

